:root {
	// COLORS
	--color-primary-light: #ffc812;
	--color-primary: #eea312;
	--color-primary-dark: #865001;

	--color-secondary-light: #333;
	--color-secondary: #0c0c10;
	--color-secondary-dark: #000;

	--color-tertiary-light: #fff;
	--color-tertiary: #bcb6ae;

	// SHADOWS
	--shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
	--shadow-white: 0 0.2rem 1rem -0.2rem #fff;
	--shadow-white-underline: 0px 15px 10px -10px #fff;
	--shadow-white-underline-big: 0 1rem 1.3rem -0.6rem #fff;

	// FONT
	--default-font-size: 1.6rem;
	--font-size-large: 2rem;
	--font-size-xl: 2.6rem;

	// BORDER
	--border-radius-medium: 1rem;
}
