@import '../sass/main.scss';

.button {
	padding: 1rem 4rem;
	border: none;
	border-radius: var(--border-radius-big);
	@include transition(transform, 0.2s, ease);
	background-color: var(--color-primary);
	color: var(--color-secondary-dark);
	font-weight: 700;

	&:hover {
		cursor: pointer;
		box-shadow: var(--shadow-light);
		background-color: var(--color-tertiary-light);
		color: var(--color-primary);
	}

	&:focus {
		box-shadow: var(--shadow-light);
	}

	&:active {
		transform: translateY(2px);
	}
}
