.button {
	padding: 1rem 4rem;
	border: none;
	border-radius: var(--border-radius-big);
	transition: 0.2s transform;
	// background-color: var(--color-primary);
	background-color: var(--color-primary-dark);
	color: var(--color-secondary-dark);

	&:hover {
		cursor: pointer;
		box-shadow: var(--shadow-light);
		background-color: var(--color-secondary-dark);
		// color: var(--color-primary);
		color: var(--color-primary-dark);
	}

	&:focus {
		outline: none;
		box-shadow: var(--shadow-light);
	}

	&:active {
		transform: translateY(2px);
	}
}
