@import '../sass/main.scss';

.content {
	display: flex;
	flex-direction: column;
	max-width: 80rem;
	width: 100%;
	margin: 4rem auto;

	@include respond(phone) {
		width: auto;
		margin: 4rem 2rem;
	}
}
