@import '../sass/main.scss';

.content {
	display: flex;
	flex-direction: column;
	max-width: 80rem;
	width: 100%;
	margin: 4rem auto;

	@include respond(phone) {
		width: auto;
		margin: 2rem;
	}
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem;

	& p {
		font-size: var(--default-font-size);
	}
}

.slide-button {
	margin-top: 2rem;
	position: relative;
	cursor: pointer;
	border: 0;
	background: transparent;
	font-size: inherit;
	font-family: inherit;
	width: 15rem;
	transition: transform 0.2s ease;

	&:active {
		transform: translateY(2px);
	}

	&__circle {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		position: relative;
		display: block;
		width: 3rem;
		height: 3rem;
		background: var(--color-primary);
		border-radius: 1.5rem;
	}

	&__arrow {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		left: 0.625rem;
		width: 1.125rem;
		height: 0.125rem;
		background: none;

		&::before {
			position: absolute;
			content: '';
			top: -0.31rem;
			right: 0.0625rem;
			width: 0.625rem;
			height: 0.625rem;
			border-top: 0.125rem solid var(--color-secondary-dark);
			border-right: 0.125rem solid var(--color-secondary-dark);
			transform: rotate(45deg);
		}
	}

	&__text {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0.75rem 0;
		margin: 0 0 0 1.85rem;
		color: var(--color-primary);
		font-weight: 700;
		text-transform: uppercase;
	}

	&:hover &__circle {
		width: 100%;
	}

	&:hover &__arrow {
		background: var(--color-secondary-dark);
		transform: translate(1rem, 0);
	}

	&:hover &__text {
		color: var(--color-tertiary-light);
		color: var(--color-secondary-dark);
	}

	@include touch-only() {
		&__circle {
			width: 100%;
		}

		&__arrow {
			background: var(--color-secondary-dark);
			transform: translate(1rem, 0);
		}

		&__text {
			color: var(--color-secondary-dark);
		}
	}
}
