.repos-container {
	width: 80%;
	padding-bottom: 7rem;
}

.repos-container__message {
	text-align: center;
	font-size: 3.5rem;
	font-weight: 600;
	color: var(--color-primary);
	font-style: italic;
}

.repos-container__message--error {
	font-weight: 900;
	color: var(--color-error);
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}
