.repo {
	display: flex;
	font-size: var(--font-size-large);
	margin: 1rem 0;
	border-radius: var(--border-radius-medium);

	background-image: linear-gradient(
		to left,
		var(--color-secondary-dark) 25%,
		var(--color-secondary) 50%,
		var(--color-secondary-dark) 75%
	);

	&:hover {
		color: var(--color-tertiary);
		background-image: none;
		background-color: var(--color-secondary-dark);
	}

	&:hover &__name a {
		color: var(--color-primary-light);
	}

	& > * {
		color: inherit;
		padding: 1.1rem;
	}

	& > *:not(:last-child) {
		border-right: 1px solid var(--color-secondary-light);
	}

	&__name {
		flex-grow: 1;
		flex-shrink: 1;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		padding-left: 1.5rem;

		& a {
			color: inherit;
		}
	}

	&__lang {
		width: 15rem;
		text-align: center;
		overflow: hidden;
		flex: 0 0 auto;
	}

	&__stars {
		width: 10rem;
		text-align: center;
		overflow: hidden;
		flex: 0 0 auto;
	}
}
