@import '../sass/main.scss';

.repo {
	display: flex;
	font-size: var(--font-size-large);
	margin: 1rem 0;
	border-radius: var(--border-radius-medium);

	@include respond(phone) {
		flex-wrap: wrap;
	}

	background-image: linear-gradient(
		to left,
		var(--color-secondary-dark) 25%,
		var(--color-secondary) 50%,
		var(--color-secondary-dark) 75%
	);

	@include hover-supported() {
		color: var(--color-tertiary);
		background-image: none;
		background-color: var(--color-secondary-dark);

		.repo__name a {
			color: var(--color-primary-light);
		}
		.repo__star-icon {
			fill: var(--color-primary-dark);
		}
	}

	& > * {
		color: inherit;
		padding: 1.1rem;
	}

	& > *:not(:last-child) {
		border-right: 1px solid var(--color-secondary-light);
	}

	&__name {
		flex: 1 1 auto;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		padding-left: 1.5rem;

		@include respond(phone) {
			flex: 0 0 100%;
			text-align: center;
			font-size: var(--font-size-xl);
			border-right: none !important;
			border-bottom: 1px solid var(--color-secondary-light);
			padding: 2rem 1rem;
			color: var(--color-primary-light);
		}

		& a {
			color: inherit;
		}
	}

	&__homepage {
		width: 7rem;
		flex: 0 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__homepage-link {
		display: flex;
	}

	&__lang {
		width: 15rem;
		text-align: center;
		overflow: hidden;
		flex: 0 0 auto;

		@include respond(phone) {
			flex: 1 0 auto;
		}
	}

	&__stars {
		width: 10rem;
		overflow: hidden;
		flex: 0 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__star-icon {
		flex: 0 0 auto;
		width: 2.3rem;
		height: 2.3rem;
		fill: var(--color-primary);
		margin-left: 0.3rem;
		margin-bottom: 0.2rem;
	}

	&__globe-icon {
		flex: 0 0 auto;
		width: 2.3rem;
		height: 2.3rem;
		fill: var(--color-primary);

		@include hover-supported() {
			fill: var(--color-primary-light);
		}
	}
}
