@import '../sass/main.scss';

.search {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--font-size-large);

	&__input {
		font-family: inherit;
		font-size: inherit;
		color: var(--color-primary-light);
		background-color: transparent;
		border: none;
		outline: none;
		flex: 1 1 auto;
		min-width: 0;
		padding: 1rem 2rem;

		&:focus {
			outline: none;
		}

		&::-webkit-search-cancel-button {
			-webkit-appearance: none;
			height: 1rem;
			width: 1rem;
			background: linear-gradient(
					45deg,
					transparent 0%,
					transparent 43%,
					var(--color-primary-light) 45%,
					var(--color-primary-light) 55%,
					transparent 57%,
					transparent 100%
				),
				linear-gradient(
					135deg,
					transparent 0%,
					transparent 43%,
					var(--color-primary-light) 45%,
					var(--color-primary-light) 55%,
					transparent 57%,
					transparent 100%
				);
		}
	}
}

::placeholder {
	color: var(--color-primary-dark);
}
