.search {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;

	&__input {
		font-family: inherit;
		font-size: inherit;
		color: var(--color-primary);
		background-color: transparent;
		border: none;
		outline: none;
		flex: 1;
		padding: 1rem 2rem;

		&:focus {
			outline: none;
			box-shadow: var(--shadow-light);
		}

		&::-webkit-search-cancel-button {
			-webkit-appearance: none;
			height: 1rem;
			width: 1rem;
			background: linear-gradient(
					45deg,
					transparent 0%,
					transparent 43%,
					var(--color-primary) 45%,
					var(--color-primary) 55%,
					transparent 57%,
					transparent 100%
				),
				linear-gradient(
					135deg,
					transparent 0%,
					transparent 43%,
					var(--color-primary) 45%,
					var(--color-primary) 55%,
					transparent 57%,
					transparent 100%
				);
		}
	}

	&__button {
		margin-right: 1rem;
	}
}

::placeholder {
	color: var(--color-primary-dark);
}
