.search {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;

	&__input {
		font-family: inherit;
		font-size: inherit;
		color: var(--color-primary);
		background-color: transparent;
		border: none;
		outline: none;
		flex: 1;
		padding: 1rem 2rem;

		&:focus {
			outline: none;
			box-shadow: var(--shadow-light);
		}
	}

	&__button {
		margin-right: 1rem;
	}
}

::placeholder {
	color: var(--color-primary-dark);
}
