@import '../sass/main.scss';

.dashboard {
	display: flex;
	flex-direction: column;
	padding: 5rem;
	font-size: var(--default-font-size);
	position: relative;

	@include respond(phone) {
		padding: 3rem 2rem;
	}

	&__container {
		z-index: 1;
	}

	&__photo-box {
		margin-right: 2rem;
	}

	&__photo {
		user-select: none;
		width: 9rem;
		border-radius: 50%;
	}

	&__bio {
		font-size: var(--font-size-large);
		text-align: left;
		padding: 2rem 0;
	}

	&__header {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
	}

	&__content {
		display: flex;
		flex-direction: column;
	}

	&__stats {
		display: flex;
		margin: 0 auto;
	}

	&__info {
		text-align: left;
		margin-right: 5rem;
	}

	&__details {
		display: flex;
		flex-wrap: wrap;
		border: 2px solid var(--color-secondary-dark);
		border-radius: var(--border-radius-medium);
		box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
		padding: 2rem;
		margin-bottom: 2rem;
		overflow: hidden;

		& * {
			flex: 0 0 50%;
			text-align: left;
			overflow: hidden;
		}
	}

	&__cta {
		display: flex;
		justify-content: center;
	}

	&__button {
		overflow: hidden;
		background: transparent;
		border: none;
		cursor: pointer;
		font-size: var(--font-size-xl);

		box-shadow: 0px 15px 10px -10px #fff;

		&:active {
			box-shadow: 0 1rem 1.3rem -0.6rem #fff;
		}

		.first_word,
		.last_word {
			display: inline-block;
			position: relative;
			@include transition(transform, 0.3s, ease);

			&:before {
				position: absolute;
				content: attr(data-hover);
			}
		}
		.first_word {
			margin-right: 0.5rem;
			color: var(--color-primary);
			&:before {
				top: 100%;
				color: var(--color-tertiary-light);
			}
		}
		.last_word {
			color: var(--color-tertiary-light);
			&:before {
				bottom: 100%;
				color: var(--color-primary);
			}
		}
		&:hover {
			.first_word {
				transform: translateY(-100%);
			}
			.last_word {
				transform: translateY(100%);
			}
		}
	}
}

.statistic {
	padding: 0 1rem;
}
