.footer {
	padding: 1rem;
	margin: 2rem auto;

	&__info {
		display: flex;
		justify-content: center;
		margin-top: 2rem;
		font-size: 1.4rem;
	}

	&__copyright {
		border-top: 1px solid var(--color-primary);
		padding-top: 2rem;
		flex: 0 0 60%;
		text-align: center;
		line-height: 200%;
	}
}
