:root {
	--color-primary: yellow;
	--color-error: red;

	--color-grey-light: #ddd;
	--color-grey-medium: #777;
	--color-grey-dark: #333;

	--shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
	--shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 1.6;
	background-image: linear-gradient(
		to right bottom,
		var(--color-grey-medium),
		var(--color-grey-dark)
	);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
}

.container {
	margin: 0 5rem;
}

.header {
	font-size: 2.5rem;
	height: 7rem;
	padding-top: 1.5rem;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 50rem;
	max-width: 120rem;
	margin: 4rem auto;
	border-radius: 1rem;
	box-shadow: var(--shadow-dark);
}

.search {
	font-size: 2rem;
	flex: 0 0 40%;
	display: flex;
	margin: 4.5rem;
	flex-wrap: wrap;
	justify-content: center;
}

.search__input {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	border: none;
	border-radius: 10rem;
	padding: 0.9rem 2rem;
	width: 62%;
	margin-right: 1.5rem;
	margin-bottom: 1rem;
}

.search__input:focus {
	outline: none;
	background-color: var(--color-grey-light);
	box-shadow: var(--shadow-light);
}

.search__button {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	border: none;
	border-radius: 2rem;
	padding: 0.5rem 1.5rem;
	margin-bottom: 1rem;
	background-color: white;
}

.search__button:focus {
	outline: none;
	background-color: var(--color-grey-light);
	box-shadow: var(--shadow-light);
}

.search__button:active {
	transform: translateY(2px);
}

.repos-container {
	width: 80%;
	padding-bottom: 7rem;
}

.repos-container__message {
	text-align: center;
	font-size: 3.5rem;
	font-weight: 600;
	color: var(--color-primary);
	font-style: italic;
}

.repos-container__message--error {
	font-weight: 900;
	color: var(--color-error);
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

.repo {
	display: flex;
	justify-content: space-around;
	color: var(--color-grey-dark);
	font-size: 2rem;
	margin: 1rem;
	border-radius: 1rem;
	background-color: var(--color-primary);
}

.repo:hover {
	background-color: var(--color-grey-dark);
	color: var(--color-primary);
}

.repo > * {
	color: inherit;
	border-right: 1px solid var(--color-grey-medium);
	padding: 1.1rem;
}

.repo__name {
	flex-grow: 1;
	flex-shrink: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-left: 1.5rem;
}

.repo__lang {
	width: 10rem;
	text-align: center;
	overflow: hidden;
}

.repo__stars {
	width: 7.5rem;
	text-align: right;
	overflow: hidden;
}

.repo__link {
	width: 6rem;
	text-align: center;
	border-right: none;
}

.repo__link:focus {
	outline: none;
	font-weight: 600;
}
